@import '../public.scss';
$linh: 40px;
.vote {
    padding: 50px 40px 40px 50px;
    box-sizing: border-box;
    h4 {
        color:#484E64;
        font-size: 28px;
        padding-bottom: 30px;
        i {
            font-size: 28px;
            vertical-align: baseline;
        }
        span {
            font-size: 22px;
            padding-left: 20px;
        }
    }
    .wallet {
        padding-bottom: 40px;
    }
    .options {
        padding-bottom: 40px;
    }
    .row {
        margin-bottom: 22px;
        .label {
            display: inline-block;
            width: 150px;
            padding-right: 12px;
            text-align: right;
            line-height: $linh;
            &+span {
                display: inline-block;
            }
            &+ul {
                display: inline-block;
                vertical-align: top;
                li {
                    // display: table-column;
                    display: table-row;
                    border-bottom-width: 20px;
                    font-size: 14px;
                    line-height: $linh;
                    i {
                        display: table-cell;
                        padding-right: 5px;
                    }
                    em {
                        display: table-cell;
                        padding-right: 15px;
                    }
                    .line {
                        display: table-cell;
                        width: 200px;
                        position: relative;
                        &_active {
                            height: 10px;
                            width: 0;
                            transition: all 0.3s;
                            border-radius: 5px;
                            background-color: $theme-color;
                        }
                    }
                    span {
                        display: table-cell;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    
}